<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>instamo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B717D5C1C869EB8002652E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B717D701C869EB8002652E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B717D7B1C869EB8002652E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
